*{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    transition: 0.5s;
    border-radius: 10px;
}

body{
    background-color: #393941;
    justify-content: center;
    align-items: center;
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 98vw;
    height: 100vh;
}

div h1{
    width: 100%;
    text-align: center;
    color: #dadada
}

div button{
    padding:1vh;
    width: 15vw;
    height: 5vh;
}

div button:hover{
    transform: scale(110%);
    cursor: pointer;
}
